.dash{
    margin-top: 30px;
    height: 530px;
    background-color: white;
    padding: 20px;
    color: #626060;
    font-family: 'inter';
    justify-content: center;
    width: 300px;
    text-align: center;
    border-radius: 22px;
}
.dash h1{
    font-size: 28px;
}
.dash p{
    margin: auto;
    width: 250px;
    border-radius: 22px;
    background-color:#F1E4DA;
    height: 35px;
    margin-top: 20px;
    padding-top: 10px;

}

.dash p:hover{
    background-color: #DFA58E;
}
#first{
    margin-top: 30px;
}
.dash a{
    text-decoration: none;
    color: #626060;
   font-size: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .flight{ 
    float: right;
    position: relative;
    margin-top: -550px;
    margin-right: 300px;

  }