*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


table, th, td {
  border: 1px solid rgb(255, 255, 255);
}
  
  

table{
   width: 70%;
  
   position: absolute;
   top: 250px;
   left: 200px;
  
   
}

.banner{
    
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(130, 137, 231, 0.75),rgba(243, 240, 240, 0.75)),url(img1.jpg);

        background-size: cover;
        background-position:center;
        margin-top: fixed;

       }

    
      
    

  .search-container{
  margin-bottom: 210px;
          width: 100%;
          position: absolute;
  bottom: 0px;
  left: 200px;
  font-size: 18px;
      
         

       

  }
